{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}


{% block body %}
<h1 class="my-3 text-center">Welcome to the website of Sportradar</h1>
<p class="my-3 text-center">Discover why <span class="c-text-red"> more than 1,700 customers worldwide </span> rely on Sportradar’s data depth and quality.</p>
{% endblock %}

