<nav class="navbar c-footer-wrapper d-flex flex-column navbar-expand-lg">

	<div class="c-footer-social-links my-3">
		<h4 class="text-center">follow us</h4>
		<a href="#" class="fab fa-facebook-f text-decoration-none me-2 c-text-red lead"></a>
		<a href="#" class="fab fa-twitter text-decoration-none me-2 c-text-red lead"></a>
		<a href="#" class="fab fa-instagram text-decoration-none me-2 c-text-red lead"></a>
		<a href="#" class="fab fa-linkedin text-decoration-none me-2 c-text-red lead"></a>
		<a href="#" class="fab fa-pinterest text-decoration-none me-2 c-text-red lead"></a>

	</div>
	<div class="container justify-content-center mx-auto pb-3 pt-3">© SPORTRADAR 2021</div>

</nav>
