<nav class="navbar c-header-nav navbar-expand-lg navbar-dark bg-light">
	<div class="container-fluid">
		<a class="navbar-brand c-header-nav-brand" href="/">
			SPORTRADAR
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Current Board</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/board/">All Games</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/board/new">Add new Game</a>
					</li>
			

			</ul>
			
		</div>

	</div>

	{# {{dump()}} #}
</nav>
